@media screen and (max-width:991px) {
    
    .nav-toggle{
        display: block;
        margin-right: 20px;
        margin-top: 50px;
    }
    .nav-bar-section {
        position: unset;
    
    }
  
    .nav-links{
        position: absolute;
        background-color: 	#000035;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        transition: left 0.3s ease; 
    
    }
    .nav-links.active{
        left: 0;
    }
    .nav-links ul{
        flex-direction: column;
    }
    .nav-links ul li{
        flex-direction: column;
        text-align: center;
    }

    .main-nav{
        overflow: initial;
    }
    .link-color{
        color: white;
    }
    .hover-links:hover{
        color:red;
    }

    .header-section{
        flex-direction: column-reverse;
        gap: 0px;
    }
    .header-left{
        max-width: 100vw;
        text-align: center;
        margin-top: 0px !important;
    }
    .header-right img{
        max-width: 90vw;
        margin-top: 0px;
    }
    .header-left h1{
        font-size: 20px;
        margin-top: 0px;
    }
    .about-section{
        flex-direction: column;
    }
    .about-right img{
        margin-top: 20px;
        max-width: 90vw;
    }
    .about-left {
        max-width: 100vw;
        text-align: center;
    }
   .about-left h2{
    margin-top: 50px;
    font-size: 30px;
   }
    
        .features {
            flex-direction: column;
            align-items: center;
        }
    
        .feature {
            width: 80%;
        }
    
        .why-choose-us h2 {
            font-size: 2em;
        }
    
        .feature h3 {
            font-size: 1.3em;
        }
    
        .feature p {
            font-size: 0.9em;
        }


        .onlycontact p{
            text-align: center;
        }  
       
     
        

        .ourproduct h2 {
            font-size:15px;
            margin-bottom: 21px;
            font-weight: 900;
            color: rgb(0, 0, 0);
          }
        
        
         .product-card {
            width: 200px;
            height: 200px;
          } 
        
        
         .product-card img {
            width: 150px; 
            height: 100px; 
            margin-bottom: 10px; 
          }
        
          .our-item{
            max-width: 100%;
          }











        
    }


@media (min-width:992px) and (max-width:1500px) {



    .our-item{
        max-width: 100%;
      }

 


    
    .header-section{
        justify-content: center;
        gap: 0px;
    
    }

    .header-left{
        max-width: 100vw;
    }
    
    .header-left h1{
        margin-top: 200px;
        font-size: 30px;
        /* background-color: black; */
       
        text-align: center; 
        letter-spacing: 2px; 
        text-transform: uppercase; 
       font-weight: 900;
       font-family: 'Poppins', sans-serif; 
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
       animation: gradientShift 5s ease-in-out infinite;
        padding: 40px 0;
      
    }   
    .header-right img{
        width: 100%;
        margin-top: 100px;
    }
    .get-quota-btn{
        margin-top: 20px;
        margin-left: 30px;
    }

    .about-left p{
        text-align: justify; 
        margin-top: 10px; 
    }
    .about-left h2{
        margin-top: 20px;
    }
    
    .about-left h3{
        margin-top: 10px;
    }
    
    /* .about-right img{
        margin-top: 10px;
        margin-left:100px;
        width: 400px;
      
    }
 */
    .about-section{
        justify-content: center; 
        gap: 10px; 
    
    }
    
    .about-left{
        max-width: 50vw;
    }
    
    .about-left h1{
        margin-top: 100px;
    }
      
   /*  .about-right img{
        width: 500px;
        height: 500px;
        margin-top: 20px;
    
    } 
 */





    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        width: 80%;
    }

    .why-choose-us h2 {
        font-size: 2em;
    }

    .feature h3 {
        font-size: 1.3em;
    }

    .feature p {
        font-size: 0.9em;
    }


    .features {
        flex-direction: row;
        justify-content: space-around;
    }
    .feature {
        flex: 0 1 calc(25% - 20px);
    } 
    

    .header-left h1{
         color: rgb(0, 0, 0); 
         font-family: Georgia, serif;
        margin-top: 50px;
    }


    .primary-button{
        background-color: var(--accent-color);
        border-radius: 6px;
        font-weight: 600;
        color: rgb(255, 255, 255) !important;
        padding: 12px 24px;
        box-shadow: 0 0 2px var(--secondary-text-color);
        transition: 0.2s ease-out;
        margin-right: 0px;
        margin-left: 100px;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 130px;
        text-align: center;
    }
   
}
 
@media (max-width:544px)

{
.get-quota-btn{
   margin-top: 40px !important;
   margin-bottom: 20px !important;
    margin-left: 40px;
}
.about-right img{
    margin-top: 10px;
    margin-left: 2px;
}

.features {
    flex-direction: row;
    justify-content: space-around;
}

.feature {
    flex: 0 1 calc(33.33% - 20px);
}

.feature-icon {
    width: 100%; 
    height: auto; 
}

.header-left h1{
   
    margin-top: 50px;
    font-size: 30px;
}

.company-logo img{
    width: 100px;   
}

}
    
@media (min-width:545px) and (max-width:991px) {
    .get-quota-btn{
        margin-top: 60px !important;
        margin-bottom: 40px !important;
     }
     .about-right img{
         margin-top: 10px;
         margin-left: 0px;
         width: 100%;
     }

     .features {
        flex-direction: row;
        justify-content: space-around;
    }

    .feature {
        flex: 0 1 calc(25% - 20px);
    }

    .feature-icon {
        width: 100%; 
        height: auto;
    }
    .header-right img{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    
.header-left h1{
    font-size: 40px;
    margin-top: 60px;
}
.company-logo img{
    width: 120px;   
}

}
@media (min-width:453px) and (max-width:510px) {

    .footer .social-icons a {
        margin: 0 0px;
        display: inline-block;
    }
    
    .footer .social-icons {
        margin: 0px 0;
    }
    
    
    
    .footer p {
        margin: 10px 0;
        color: white;
    }
    
    .footer .column {
        flex: 1;
        margin: 5px;
    }

}

@media (min-width:573px) and (max-width:671px) {

    .footer .social-icons a {
        margin: 0 0px;
        display: inline-block;
    }
    
    .footer .social-icons {
        margin: 10px 10px;
    }
    
    
    
    .footer p {
        margin: 20px 0;
        color: white;
    }
    
    .footer .column {
        flex: 1;
        margin: 10px;
    }

}

@media (min-width:992px) and (max-width:1163px){
    .header-left p{
  
        font-size: 22px;
   
      }
    
}

@media (min-width:1500px) and (max-width:1611px)
{
    .primary-button{
margin-left: 20px;
    }
    .header-left p{
        font-size: 25px
    }
}

@media (min-width:992px) and (max-width:1300px) {
    
    .shop2 {
        border-radius: 12px; 
        border: 2px solid #ddd; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        transition: transform 0.3s ease, box-shadow 0.3s ease;   
    
    }
    .primary-button{
        margin-left: 40px;
            }
}